################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookPoint/.vs/BookPoint/v16
/BookPoint/BookPoint/obj
/BookPoint/.vs/BookPoint/config
/BookPoint/BookPoint/bin/Debug/netcoreapp3.1
